.game-page__content{
    display: flex;
}

.game-page__left{
    width: 70%;
}

.game-page__right{
    width: 40%;
}

.game-page__buy-game{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

@media (max-width: 900px) {

    .game-page__content{
        flex-direction: column;
    }

    .game-page__left{
        width: 100%;
    }

    .game-page__right{
        width: 100%;
    }

    .game-page__right-img{
        display: none;
    }

}
